receivers:
  # Azure Event Hub Receiver
  azureeventhub/metrics:
    connection: Endpoint=sb://signoz-metrics.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=;EntityPath=metrics
    partition: ""
    group: "$Default"
    format: "azure"  # Important: Use 'azure' format for Azure Monitor data

  azureeventhub/logs:
    connection: Endpoint=sb://signoz-metrics.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=;EntityPath=logs
    partition: ""
    group: "$Default"
    format: "azure"  # Important: Use 'azure' format for Azure Monitor data

processors:
  transform/extract_log:
    log_statements:
      - context: log
        statements:
          - set(body, ParseJSON(attributes["azure.properties"].Str())["Log"]) where attributes["azure.properties"] != nil

  # Add resource attributes
  resource:
    attributes:
      - key: cloud.provider
        value: "azure"
        action: upsert

  # Batch processing
  batch:
    timeout: 10s
    send_batch_size: 1000
    send_batch_max_size: 2000

exporters:
  logging:
    loglevel: debug
  # SigNoz exporter
  otlp/signoz:
    endpoint: "ingest.us.staging.signoz.cloud:443"
    headers:
      "signoz-access-token": f43f70bd-5ea1-478a-9db8-39ddb1e13b4c
    tls:
      insecure: false
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s

service:
  pipelines:
    logs:
      receivers: [ azureeventhub/logs ]
      processors: [ transform/extract_log, resource, batch ]
      exporters: [ otlp/signoz ]
    metrics:
      receivers: [ azureeventhub/metrics ]
      processors: [ resource, batch ]
      exporters: [ otlp/signoz ]
  telemetry:
    logs:
      level: debug